.bkgrnd {
    border: solid black 4px;
    border-radius: 20%;
    height: 15em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    font-family: 'Orbitron', sans-serif;
}
body {
    background-color: #f5f0e1;
    color: #741e18;
}
.name {
    color: #1e3d59;
}
.text {
    text-align: center;
    margin-top: 3em;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}
.homepg {
    padding-top: 5em;
    display: flex;
    justify-content: center;
}
.welcome {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 4.5s steps(40, end),
      blink-caret .75s step-end infinite;
      margin-top: 5em;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #1e3d59;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0}
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }